/* 
    comentarios en css 

*/

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
/*Selector universal * */
* { /* modelo de caja
    padding: 0;
    margin: 0;
    */
    font-family: 'Courier New', Courier, monospace;
}

/* selector por tipo */
p {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variant: small-caps;
}

/* selector por clase */
.parrafo {
    color: red;
}

/* selector por id*/
#subtitulo{
    color: blue;
}

/*fuentes*/
h3{
    color:green;
    font-size : 1.17em; 
}











